
blockquote {
	border: none;
	border-left: 1em solid #eee;
	padding-left: 1em;
	margin: 0.5em 6em 0.5em 3em;
}
body {
	background: #f8f8f8;
	color: #333;
	font-family: serif;
	font-size: 12pt;
	line-height:1.4em;
	margin: 1em 15% 1em 15%;
}
a {
	color: #3399ff;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: #0066cc;
}
h1, h2, h3, h4, h4 {
	font-weight: bold;
	font-family: sans-serif;
	line-height: 2em;
	margin: 1em 0 0 0;
}
pre {
	font-family: monospace;
	margin: 2em 0 2em 0;
	padding: 1em 2em 1em 2em;
}
#error {
	color: #ddd;
	background-color: #660000;
	padding: 1em;
	margin: 1em 0 1em 0;
}
#gneto-header-brand a {
	font-size: 1.5em;
}
#gneto-header-slogan {
	font-size: 0.75em;
	font-style: italic;
}
#header-help {
	font-size: 0.8em;
	text-align: right;
}
#non-gemini-text {
	white-space: pre-wrap;
}
span.scheme {
	font-size: 0.7em;
	margin-left: 1em;
}
span.scheme a {
	font-weight: normal;
}
#url-form {
	margin: 1em;
}
#url-input {
	width: 45em;
}