{{define "title"}}Gneto{{end}}
{{template "header" .}}
{{if .Error}}
<div id="error">{{.Error}}</div>
{{end}}
<h1>Gneto Help</h1>

<h2>What's Gemini?</h2>

<p><a href="https://gemini.circumlunar.space/">Gemini</a> is a protocol, similar to HTTP or Gopher.</p>

<h2>What's Gneto?</h2>

<p><a href="https://github.com/pgorman/gneto">Gneto</a> is a proxy server you can run on your computer. It lets you access Gemini content using any web browser.</p>

<h2>How do I find Gemini content?</h2>

<p>See the <a href="https://gemini.circumlunar.space/docs/faq.html">Gemini FAQ</a> or browse the <a href="/?url=gemini%3A%2F%2Fgemini.circumlunar.space%2Fcapcom%2F">CAPCOM</a> <a href="gemini://gemini.circumlunar.space/capcom/">↗</a> content aggregator.

<h2>How do I customize the way Gneto looks?</h2>

<p>When running Gneto, the <code>--css</code> command-line option allows you to specify a custom cascading style sheet, like:</p>

<pre>$ gneto --css $HOME/.gneto/custom.css</pre>

<p>A dark style sheets is provided in `web/dark.css`.</p>

<h2>What command-line options does Gneto accept?</h2>

<pre>$ gneto --help</pre>

<h2>Firefox gives a "connection timed out" error sometimes!</h2>

<p>In Firefox's preferences, search for "proxy". Select "Auto-detect proxy settings for this network".</p>

<h2>Where is the latest version of Gneto?</h2>

<p>Get the <a href="https://github.com/pgorman/gneto">Gneto source code on Github</a>. From there, you can download the source code or find links to precompiled binaries you can run right away.</p>

<h2>Who owns Gneto, and how is it licensed?</h2>

<p>Gneto is copyright 2020 Paul Gorman, and distributed under the <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License</a>.</p>

{{template "footer"}}
