{{define "title"}}Gneto{{end}}
{{template "header" .}}
{{if .Error}}
<div id="error">{{.Error}}</div>
{{end}}
<h1>Gneto Help</h1>

<h2>What's Gemini?</h2>

<p><a href="https://gemini.circumlunar.space/">Gemini</a> is a protocol, similar to HTTP or Gopher.</p>

<h2>How do I find Gemini content?</h2>

<p>See the <a href="https://gemini.circumlunar.space/docs/faq.html">Gemini FAQ</a> or browse the <a href="/?url=gemini%3A%2F%2Fgemini.circumlunar.space%2Fcapcom%2F">CAPCOM</a> <a href="gemini://gemini.circumlunar.space/capcom/">↗</a> content aggregator.

<h2>How do I customize the way Gneto looks?</h2>

<p>When running Gneto, the <code>--css</code> command-line option allows you to specify a custom cascading style sheet, like:</p>

<pre>$ gneto --css $HOME/.gneto/custom.css</pre>

<p>Example light and dark style sheets are provided (`web/light.css` and `web/dark.css`)

<h2>What command-line options does Gneto accept?</h2>

<pre>$ gneto --help</pre>

<h2>Where is the latest version of Gneto?</h2>

<p>Get the <a href="https://github.com/pgorman/gneto">Gneto source code on Github</a>.</p>

{{template "footer"}}
