{{template "header" .}}
{{if .Error}}
<div id="error">ERROR: {{.Error}}</div>
{{end}}

{{if .Gemini}}
<div id="gemini">{{.Gemini}}</div>
{{else}}
<div id="home">
<p>Looking to get started? Enter a Gemini URL in the form above, or follow one of the links below!</p>
<p><a href="?url=gemini%3A%2F%2Fgemini.circumlunar.space%2Fcapcom%2F">CAPCOM</a>, a Gemini content aggregator</p>
<p><a href="?url=gemini%3A%2F%2Frawtext.club%3A1965%2F~sloum%2Fspacewalk.gmi">Spacewalk</a>, a Gemini content aggregator</p>
<p><a href="?url=gemini%3A%2F%2Fgemini.circumlunar.space%2F">Project Gemini home page</a></p>
<p><a href="?url=gemini%3A%2F%2Ftildeverse.org">Tildeverse</a>, home of a loose association of communities organized around unix servers</p>
<p><a href=""></a></p>
</div>
{{end}}

{{template "footer"}}