{{template "header" .}}
{{if .Error}}
<div id="error">ERROR: {{.Error}}</div>
{{end}}
{{if .Meta}}
<div id="gemini-input-secret">
<h1>{{.Meta}}</h1>
<form id="input-secret-form" action="/" method="POST">
<input type="hidden" id="url" name="url" value="{{.URL}}">
<input type="password" id="secret" name="secret">
<button id="input-form-button">Submit</button>
</form>
</div>
{{end}}

{{template "footer"}}